---
import { Image } from 'astro:assets';

import AdImg from '@/assets/meric-dagli-unsplash.jpg'
---
<div class="relative">
  <div class="mx-auto max-w-7xl lg:flex lg:justify-between lg:px-8 xl:justify-end">
    <div class="lg:flex lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2">
      <div class="relative h-80 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0">
        <Image src={AdImg} alt="ad billboard on street" class="absolute inset-0 h-full w-full bg-gray-50 object-cover " />
      </div>
    </div>
    <div class="px-6 lg:contents">
      <div class="mx-auto max-w-2xl pb-24 pt-16 sm:pb-32 sm:pt-20 lg:ml-8 lg:mr-0 lg:w-full lg:max-w-lg lg:flex-none lg:pt-32 xl:w-1/2">
        <p class="text-xl font-semibold leading-7 italic text-secondary">Get Sponsors!</p>
        <h1 class="mt-2 text-2xl font-bold tracking-tight sm:text-4xl">A better alternative.</h1>
        <p class="mt-6 text-xl leading-8">While platforms like Ko-fi and Patreon provide avenues for your followers to contribute to your causes, the true potential lies in forging direct sponsorships that not only empower your supporters but also turbocharge your revenue streams. Here's where our platform steps in, offering you a game-changing opportunity to elevate your engagement and financial support. </p>
        <div class="mt-10 max-w-xl text-base leading-7 lg:max-w-none">
          <p>However, it's essential to ensure that any sponsorships or ad agreements align with your values and the values of your audience. It's important to maintain transparency and open communication with your audience about how ads will be used and what they can expect in return.</p>
          <ul role="list" class="mt-8 space-y-8 ">
            <li class="flex gap-x-3">
              <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
              </svg>
              <span><strong class="font-semibold text-accent">Mutually Rewarding.</strong> With our innovative approach, you can seamlessly create a symbiotic relationship with your sponsors, offering them unique perks that enhance their experience while solidifying their commitment to your cause. It's not just about giving; it's about creating a mutually rewarding experience.</span>
            </li>
            <li class="flex gap-x-3">
              <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
              </svg>
              <span><strong class="font-semibold text-accent ">Elevate Revenue Streams</strong> Say goodbye to conventional methods and embrace a platform that transforms your sponsorship model into a powerhouse of reciprocity. Elevate your revenue streams, strengthen your community bonds, and watch as your cause gains unprecedented momentum.</span>
            </li>
            <li class="flex gap-x-3">
              <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
              </svg>
              <span><strong class="font-semibold text-accent">Loads of opportunities.</strong> By offering exclusive content, early access, or other perks to your sponsors, you can create a mutually beneficial relationship where both parties benefit. This approach not only helps you increase your revenue but also allows you to build a more engaged and supportive community and userbase around your work.</span>
            </li>
          </ul>
          <p class="mt-8">When you join hands with us, you're not just a sponsor; you're an essential part of a community that values integrity, innovation, and shared success. Let's embark on this journey together, where your support is not just acknowledged but celebrated.</p>
          <h2 class="mt-16 text-2xl font-bold tracking-tight ">Your Gateway to Advertise Anywhere, Anytime</h2>
          <p class="mt-6">Join us on this exciting venture where every sponsorship isn't just a transaction – it's a celebration of shared success.</p>
        </div>
      </div>
    </div>
  </div>
</div>
